<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API Navigation PAGE</title>
</head>
<body>
<h1>API Navigation PAGE</h1>

<h2>API XSL</h2>
<ul>
  <li><a href="/api/coins-xsl">/api/coins-xsl XSL shows as HTML</a></li>
  <li><a href="/api/exchanges-xsl">/api/exchanges-xsl XSL shows as HTML</a></li>
</ul>


<h2>Regular REST API</h2>
<ul>
  <li><a href="/api/coins">/api/coins - standart XML</a></li>
  <li><a href="/api/exchanges">/api/exchanges - standart XML</a></li>

  <li><a href="/api/coins?format=xml">/api/coins - selected XML</a></li>
  <li><a href="/api/exchanges?format=xml">/api/exchanges - selected XML</a></li>

  <li><a href="/api/coins?format=json">/api/coins - selected JSON</a></li>
  <li><a href="/api/exchanges?format=json">/api/exchanges - selected JSON</a></li>
</ul>

<h2>Standart UI from LR2</h2>
<ul>
  <li><a href="/coins">Coins</a></li>
  <li><a href="/exchanges">Exchanges</a></li>
</ul>
</body>
</html>